@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb { background: #D6DAE1; border-radius: 8px; }
table { border-collapse: collapse; }
